<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SocialMediaAggregator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SocialMediaAggregatorWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SocialMediaAggregator_Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA8FDDB01DE51685006E50E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8FDDC41DE51685006E50E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8FDDCF1DE51685006E50E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8FDE341DE5219D006E50E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8FDE4A1DE521C9006E50E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
